@model CRUD_MVC_5.Models.Entities.PersonaEntity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Esta seguro de borrar el registro?</h3>
<div>
    <h4>@Model.Email</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirtsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirtsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Borrar" class="btn btn-danger" /> 
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
</div>
    }
</div>
