@model List<CRUD_MVC_5.Models.Entities.PersonaEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Listado Personas</h2>

<hr />

@Html.ActionLink("Crear nuevo", "Create", "Persona", null, htmlAttributes: new { @class = "btn btn-success", @role = "button" })

<hr />
<table class="table table-striped table-hover">

    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Correo
        </th>
        <th>
            Teléfono
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirtsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Editar", "Modify", "Persona", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning btn-sm", @role = "button" })
                @Html.ActionLink("Eliminar", "Delete", "Persona", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @role = "button" })
            </td>
        </tr>
    }

</table>
